# Add this to vim ~/.config/direnv/direnvrc
# use_nodeenv() {
#     NODE_VERSION=${1}
#     type nvm >/dev/null 2>&1 || . ~/.nvm/nvm.sh
#     nvm use "$NODE_VERSION" # you can use install instead of use if you want to dynamically install version if it not exists
# }
# so we can use nodeenv like this:
use nodeenv 20.9.0
